body{

    margin: 0;
    padding: 0;
}




header {
    display: flex;
    justify-content: space-between;
    align-items: center;
 padding: 20px;
        height: 4rem; 
    
    background-color:rgb(89, 180, 89);
    color: white;

}
    
   nav ul {
    width: 500px;
    padding: 20PX;
    display: flex;
    justify-content: space-between;
    list-style: inside;

   }

 nav ul li a{
    padding: 2px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 2px green;

    color: whitesmoke;
 }

 nav ul li a:hover {
 cursor: pointer;
    background-color: green;
    text-align: center;
    color:aqua;
 }
 span{

    color: green;
 }

.container{

    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 100px;

}
.left-section{
    letter-spacing: 2px;
    font-size: 20px;
    width: 600px;
    margin: 0;
}

    .left-section p{
        font-size: 20px;

        color: darkmagenta;
    }
.right-section{

    width: 300px;
    background-color: azure;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 5px 7px black;

}
.right-section h4{
    text-align: center;
    font-size: 25px;
    margin: auto;
    width: 200px;
    color: rgb(51, 6, 249);
    margin-bottom: 10px;

}

.signup{

    width: 250px;
    margin:30px auto;
    display: flex;
    flex-direction: column;
    color: black;
    position: relative;
    
}
.signup label{

position: absolute;
top: 10px;
transition: 0.25s ease-in-out;

}
.signup input{
    padding: 10px;
    margin-top: 5px;
    color: blue;
    border-bottom: 1px solid grey;
    outline: none;
    border: none;



}
.signup input:focus~label,
    .signup input:valid~label{

    color: blueviolet;
    top: -10px;
}

.signup-button{

    color: white;
    font-size: 20px;
    background-color: rgb(24, 209, 24);
    width: 200px;
    padding: 6px 0px;
    border: none;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    cursor: pointer;

}
.signup-section button:hover{

    color: rgb(14, 14, 14);
    box-shadow: 5px;
    background-color: rgb(231, 231, 36);
}
.signup-section{
    text-align: center;
}

footer{

    color: black;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}
footer span{

    color: blue;
}

.left-section img{

    width: 500px;
    height: 400px;
    
}

